---
import Base from './Base.astro';
import Link from '../components/Link.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';

export interface Props {
    title?: string;
}

const { title } = Astro.props as Props;

const description = 'Better than Nicholas. Together.';
const icon = '/icon.webp';
const site = 'BTN';
const titleMeta = title ? `${title} - ${site}` : site;
---

<Base
    description={description}
    icon={icon}
    titleMeta={titleMeta}
>
    <script>
        import '../scripts/anchors.js';
    </script>
    <Header
        icon={icon}
        site={site}
    >
        <Link href="/register" label="Register" target="_self" />
        <Link href="/manifesto" label="Manifesto" target="_self" />
        <Link href="https://discord.gg/MvS32B7WR9" label="Discord" />
    </Header>
    <div class="flex justify-center flex-grow">
        <main class="flex flex-col max-w-[80rem] w-[80rem] sm:p-12 p-4 sm:gap-12 gap-8 h5">
            <slot />
        </main>
    </div>
    <Footer
        author="Attituding"
        authorHref="https://attituding.live"
        icon={icon}
    />
</Base>
